COMPOSE_PROJECT_NAME=terraform-provider-xaligo
MINISTACK_IMAGE=ministackorg/ministack:1.5.3
MINISTACK_PORT=4566
MINISTACK_REGION=ap-northeast-1
MINISTACK_ACCOUNT_ID=000000000000
MINISTACK_PERSIST_STATE=1
